/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
	body {
		max-width: 100vw;
		overflow-x:hidden;
		position: relative;
	}
	#oferta .dla-kogo .inner-dla-kogo {
		height: initial !important;
	}
	#oferta .dla-kogo .inner-dla-kogo p {
		margin-bottom: 15px;
	}
	.header-present h1 {
		margin-bottom: 0px;
		font-size: 2.5em;
		font-weight: 600;  
		max-width: 100%;
		text-align: center;
		padding: 15px;
	}
	#portfolio .filtermenu {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		font-size: .8em;
		li {
			margin-bottom: 5px;
		}
	}
	#homepage {
		max-width: 100vw;
		overflow: hidden;
	}  
	.slider .carousel-item {
		height: 100vh;
	}
	.popup.active .inner-popup p.info-popup {
		width: 100% !important;
		margin: 0;
		margin-bottom: 40px !important;
		text-align: center;
		color: #fff;
		margin: auto;
		margin-bottom: 20px;
	}
	nav {
		.oferta-navi, .realizacje-navi {
			display: none;
		}
		img.logotype {
			display: block;
			margin: auto;
			left: auto;
			right: auto;
			margin-top: 40px;
		}
	}
	img.img-abs {
		width: 80%;
		bottom: 12%;
	}
	.popup #js-hamburger {
		position: absolute;
		right: 10px;
		top: 0px;
	}
	.popup select, .popup select option {
		color: #fff;
	}
	.slider .carousel-item {
		.inner-text-slider {
			width: 100% !important;
			top: 0px !important;
			height: 85vh !important;
			margin-left: 0px !important;
			h3 {
				font-size: 2.5em;
				color: #fff;
				text-shadow: 0px 0px 10px rgba(0,0,0,.3);
			}
			p {
				padding:5px;
			}
		}
		img.img-fluid.w-100 {
			height: 100%; 
			-o-object-fit: cover; 
			object-fit: cover;
		}
	}
	.slider {
		height: 85vh !important;
		.bg-square {
			-webkit-clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%) !important;
			clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%) !important;
		}
		img.d-block.w-100 {
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
		.inner-text-slider {
			justify-content: center !important;
			padding-top: 100px;
			text-align: center !important;
			h2 {
				width: 75% !important;
				margin: 0 auto;
				font-size: 19px !important;
			}
			h3 {
				width: 100%;
			}
			img {
				display: none !important;
			}
		}
	}
	section.steps .inner-step {
		.arrow {
			display: none !important;
		}
		.title {
			flex: 0 0 100%;
			flex-direction: column !important;
		} 
		span.name {
			margin: 0px !important;
			margin-top: -120px !important;
			margin-bottom: 40px !important;
		}
		.circle {
			flex: 0 0 100%;
			position: relative; 
		}
		.text { 
			text-align: center;
			margin-top: 15px;
			flex: 0 0 100% !important;
		}
	} 
	.only-mobile {
		display: flex !important;
		justify-content: center;
		box-shadow: 0px 0px 15px rgba(0,0,0,.3);
		width: 100vw;
		overflow-x: hidden;
		z-index: 10;
		bottom: 0px;
	}
	#kontakt .bottom-contact-container {
		padding: 20px;
	}
	#navi-button {
		position: fixed;
		right: 15px;
		top: 15px;
		z-index: 200;
	}
	footer .copy {
		padding-bottom: 40px;
	}
	#realizacje .grey-slider-container {
		padding: 15px !important;
	}
	#realizacje h3 {
		font-size: 1.5em;
	}
	#realizacje .pos-button a.wroc {
		padding: 10px 15px;
	}
	#cta {
		.buttons {
			flex-direction: column;
			.btn-t {
				width: 100%;
				flex: 0 0 100%;
				margin-bottom: 20px;
			}
		}
	}
	#realizacje .pos-button {
		margin-top: 40px;
		margin-bottom: 80px;
		display: flex;
		justify-content: center;
	}
	#realizacje .pos-button a.wroc {
		padding: 10px 15px;
		font-size: 14px;
	}
}

/* Medium devices (tablets, 768px and up)   */
@media (max-width: 768px) { 
	#homepage {
		max-width: 100vw;
		overflow: hidden;
	}  
	.slider .carousel-item {
		height: 100vh;
	}
	nav {
		.oferta-navi, .realizacje-navi {
			display: none;
		}
		img.logotype {
			display: block;
			margin: auto;
			left: auto;
			right: auto;
			margin-top: 40px;
		}
	}
	img.img-abs {
		width: 80%;
		bottom: 12%;
	}
	.slider .carousel-item {
		.inner-text-slider {
			width: 100% !important;
			top: 0px !important;
			height: 85vh !important;
			margin-left: 0px !important;
			h3 {
				font-size: 2.5em;
				color: #fff;
				text-shadow: 0px 0px 10px rgba(0,0,0,.3);
			}
			p {
				padding:5px;
			}
		}
		img.img-fluid.w-100 {
			height: 100%; 
			-o-object-fit: cover; 
			object-fit: cover;
		}
	}
	.slider {
		height: 85vh !important;
		.bg-square {
			-webkit-clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%) !important;
			clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%) !important;
		}
		img.d-block.w-100 {
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
		.inner-text-slider {
			justify-content: center !important;
			padding-top: 100px;
			text-align: center !important;
			h2 {
				width: 75% !important;
				margin: 0 auto;
				font-size: 19px !important;
			}
			h3 {
				width: 100%;
			}
			img {
				display: none !important;
			}
		}
	}
	section.steps .inner-step {
		.arrow {
			display: none !important;
		}
		.title {
			flex: 0 0 100%;
			flex-direction: column !important;
		}
		span.name {
			margin: 0px !important;
			margin-top: -120px !important;
			margin-bottom: 40px !important;
		}
		.circle {
			flex: 0 0 100%;
			position: relative; 
		}
		.text { 
			text-align: center;
			margin-top: 15px;
			flex: 0 0 100% !important;
		}
	}
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 
	#homepage {
		max-width: 100vw;
		overflow: hidden;
	}  
	.slider .carousel-item {
		height: 100vh;
	}
	nav {
		.oferta-navi, .realizacje-navi {
			display: none;
		}
		img.logotype {
			display: block;
			margin: auto;
			left: auto;
			right: auto;
			margin-top: 40px;
		}
	}
	img.img-abs {
		width: 80%;
		bottom: 12%;
	}
	.slider .carousel-item {
		.inner-text-slider {
			width: 100% !important;
			top: 0px !important;
			height: 85vh !important;
			margin-left: 0px !important;
			h3 {
				font-size: 2.5em;
				color: #fff;
				text-shadow: 0px 0px 10px rgba(0,0,0,.3);
			}
			p {
				padding:5px;
			}
		}
		img.img-fluid.w-100 {
			height: 100%; 
			-o-object-fit: cover; 
			object-fit: cover;
		}
	}
	.slider {
		height: 85vh !important;
		.bg-square {
			-webkit-clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%) !important;
			clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%) !important;
		}
		img.d-block.w-100 {
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
		.inner-text-slider {
			justify-content: center !important;
			padding-top: 100px;
			text-align: center !important;
			h2 {
				width: 75% !important;
				margin: 0 auto;
				font-size: 19px !important;
			}
			h3 {
				width: 100%;
			}
			img {
				display: none !important;
			}
		}
	}
	section.steps .inner-step {
		.arrow {
			display: none !important;
		}
		.title {
			flex: 0 0 100%;
			flex-direction: column !important;
		}
		span.name {
			margin: 0px !important;
			margin-top: -120px !important;
			margin-bottom: 40px !important;
		}
		.circle {
			flex: 0 0 100%;
			position: relative; 
		}
		.text { 
			text-align: center;
			margin-top: 15px;
			flex: 0 0 100% !important;
		}
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 
}