$orange: #fecd01;
$grey: #37392c;
$lgrey: #7a7a7a;
$ffont: 'Orbitron', sans-serif;
$sfont: 'Quicksand', sans-serif;

.slider {
	height: 95vh;
	background-color: #fff;
	#slider-theme {
		height: inherit;
		.carousel-inner {
			height: inherit;
		}
	}
	.carousel-item:nth-child(odd) {
		.bg-square {
			-webkit-clip-path: polygon(0 0, 20% 0, 65% 100%, 0% 100%);
			clip-path: polygon(0 0, 20% 0, 65% 100%, 0% 100%);
		}
		.img-abs {
			left: 5%;
		}  
		.inner-text-slider {
			width: 50%;
			height: 100%;
			display: flex; 
			flex-direction: column;
			justify-content: center;
			margin-left: auto;
			text-align: right;
			margin-right: 5%
		}
		h2.mini-title {
			margin-left: auto;
		}


	}
	.pagination {
		position: absolute;
		bottom: 20px;
		right: 20px;
		width: 80px;
		display: flex;
		justify-content: space-evenly;
		-webkit-animation: pulse .5s infinite alternate;
		animation: pulse .5s infinite alternate;
	}
	a {
		color: #000;
		cursor: pointer;
		overflow: hidden;
		img {
			cursor: pointer;
		}
		.sr-only {
			position: relative;
			width: auto;
			height: auto;
			padding: 0;
			overflow: visible;
			clip: auto;
			white-space: initial;
			border: 0;
			color: #000 !important;
			font-size: 2em;
		}
		img {
			width: 25px;
		}
	}
	img.img-abs {
		max-height: 90%;
		position: absolute;
		z-index: 2;
		right: 5%;
		width: auto; 
	}
	p {
		color: #fff;
		font-weight: 500;
		font-size: 22px;
	}
	.bg-square {
		width: 100%;
		background: #fff;
		height: 100%;
		display: block;
		position: absolute;
		z-index: 2;
		top: 0px;
		-webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 15% 100%);
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 15% 100%);
		right: 0px;
		overflow: visible;
	}
	.text-slider {
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
	}
	.inner-text-slider {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 5%;
		h2.mini-title {
			font-size: 16px;
			color: #fff;
			font-weight: 700;
			border-bottom: solid 1px #fff;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			padding-bottom: 5px;
			margin-bottom: 20px;
		}
		h3 {
			font-size: 3.5em;
			color: #fff;	
		}
	}
}
section.about {
	padding-bottom: 80px;
	h1 {
		font-size: 2em;
		margin-top: 40px;
		font-weight: 700;
		color:$grey;
	}

	p, .desc > * {
		line-height: 32px;
		text-align: inherit;
		color: $lgrey;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

section.steps {
	background-image: url(/wp-content/uploads/2019/07/2211126-1.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	padding-bottom: 50px;
	h2 {
		font-size: 3em;
		margin-top: 40px;
		font-weight: 700;
		text-align: center;
	}
	p.subtitle {
		text-align: center;
		margin-bottom: 50px;
		display: block; 
	}
	.inner-step {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 80px;
		align-items: center;
		position: relative;
		&:last-child {
			.arrow {
				display: none;
			}
		}
		&:nth-child(even) {
			span.name {
				margin-left: 0px; 
				margin-right: -75px;
			}
			flex-direction: row-reverse;
			justify-content: flex-start;
			.title {
				flex-direction: row-reverse;
			}
			.arrow {
				left: inherit;
				right: -25%;
				-webkit-transform: rotate(130deg);
				transform: rotate(130deg);
			}
		} 
		.arrow {
			position: absolute;
			-webkit-transform: rotate(230deg);
			transform: rotate(230deg);
			width: 150px;
			left: -25%;
			bottom: -40%;
			right: 0; 
			img {
				max-width: 100%;
				height: auto;
			}
		}
		.circle { 
			flex: 0 0 30%; 
			position: relative;
			img.img-circle {
				border-radius: 100%;
				height: 280px;
				width: 280px;
				margin: auto;
				display: block;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
		.title {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.number {
			font-size: 9em;
			font-weight: 900;
			color: $orange;
			font-family: $ffont;
			opacity: .3;
		}
		.title {
			flex: 0 0 35%;
			span.name {
				font-weight: 700;
				font-size: 2.6em;
				margin-left: -75px;
				position: relative;
			}
		}
		.text {
			flex: 0 0 35%;
			padding: 15px;
			text-align: center;
		}
	}
}
.portfolio { 
	.item-portfolio {
		width: 100%;
		position: relative;
		&:hover {
			.inner-portfolio {
				opacity: 1;
			}
		}
		.inner-portfolio {
			position: absolute;
			top: 0px; 
			width: 100%;
			height: 100%;
			background: rgba($orange,.8);
			opacity: 0;
			transition-duration: .5s;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column-reverse;
			span.link-box {
				min-height: 70px;
				display: block;
				border: solid 3px #fff;
				padding: 15px;
				min-width: 70px;
				border-radius: 100%;
			} 
		} 
	}
	h5 {
		color: #fff;
		margin-bottom: 20px;
		display: block;
		text-shadow: 0px 0px 3px #999;
	}
	a {	
		img {
			width: 80px;
			height: 35px;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0; 
			right: 0;
			top: 51%;
			&.link {
				opacity: 1;
			}
			&.click {
				opacity: 0;
			}
			&:active {
				&.link {
					opacity: 0;
				}
				&.click {
					opacity: 1;
				}
			}
		}
	}
	img {
		width: 100%;
		height: auto; 
	}
}
.oferta {
	min-height: 600px;
	display: flex;
	align-items: center;
	.nav {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		flex-direction: column;
		li {
			padding: 10px 0px;
			border-bottom: solid 1px #ddd;
			a {
				transition-duration: .5s;
				color: $grey;
				font-weight: 500;
				&.active {
					transition-duration: .5s;
					color: $orange;
				}
			}
		}
	} 
	.thumbnail img {
		max-height: 300px;
		-o-object-fit: cover;
		object-fit: cover;
	}
	h3 {
		margin-top: 20px;
	}
	.tab-pane > p {
		margin: 0px;
	}
	.tab-pane > a {
		margin-top: 10px;
		color: $orange;
		transition-duration: .5s;
		font-weight: 500;
		display: flex;
		width: 140px;
		&:hover {
			letter-spacing: 1px;
		}
	}
}
.pakiety {
	margin-top: 90px;
	padding-top:90px;
	background-image: url(/wp-content/uploads/2019/07/3929.jpg);
	background-size: cover;
	background-attachment: fixed;
	.text-section {
		color: #b9b9b9;
		margin-bottom: 60px;
	}
	color: #fff;
	.col-xl-4:nth-child(2) .pakiet {
		-webkit-animation-delay: .25s;
		animation-delay: .25s;
	}
	.col-xl-4:nth-child(3) .pakiet {
		-webkit-animation-delay: .5s;
		animation-delay: .5s;
	}
	.col-xl-4:nth-child(2) > * {
		margin-top: -20px;
		.pakiet {
			opacity: .9;
		}
	} 
	.pakiet {
		margin-bottom: 40px;
		background: #fff;
		padding: 20px;
		color: #333;
		text-align: center;
		border: solid 1px #e9e9e9;
		box-shadow: 0px 10px 10px rgba(0,0,0,.15);
		opacity: .75;
		transition-duration: .5s;
		padding-bottom: 40px;
		&:hover {
			margin-top:-50px;
			opacity: 1;
		}

		ul {
			padding: 0;

			width: 100%;
			text-align: left;
			list-style-type: none;
			li {
				margin-bottom: 10px;
				padding-bottom: 5px;
				border-bottom: solid 1px #e7e7e7;
				color: #ddd;
				&.active {
					color: #333;
				}
				img.checked {
					width: 15px;
					height: 100%;
					margin-right: 5px;
				}
			}
		}

		.name {
			margin-top: 10px;
			margin-bottom: 20px;
			width: 100%;
			text-align: center;
			font-size: 2em;
			text-transform: uppercase;
			font-weight: 700;
			color: #333;
		}
		.cena {
			font-size: 2em;
			font-weight: 700;
			i {
				font-style: normal;
			}
		}
		button {
			background-color: $orange;
			color: #333;
			font-weight: 700;
			text-transform: uppercase;
			padding:5px 10px;
			border-color: $orange;
			font-size: 1.2em;
			position: relative;
			margin-top: 15px;
			transition-duration: .5s;
			cursor: pointer;
			&:after {
				transition-duration: .5s;
				content: " ";
				width: 110%;
				height: 150%;
				top: -25%;
				left: -5%;
				display: block;
				position: absolute;
				border: solid 2px $orange;
				opacity: 0;
				-webkit-transform: scale(0);
				transform: scale(0);
			}
			&:hover:after {
				opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
				
			} 
		}
	}
	small {
		width: 100%;
		display: block;
		margin-top: 10px;
		color: #cecece;
	}
}
.popup {
	position: fixed;
	&.send-success {
		background-image: linear-gradient(to bottom right, #28A745, #20b842) !important;
		transition-duration: 1s;
		.thanks {
			z-index: 2;
			opacity: 1;
			transition-duration: .5s;
			display: flex;
		}
		.info-popup, h2.title-popup {
			display: none;
		}
		#wpcf7-f5-o1 {
			z-index: -1;
			opacity: 0;
			transition-duration: .5s;
		}

	}
	.thanks {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		z-index: -1;
		opacity: 0;
		transition-duration: .5s;
		display: none;
		& > * {
			color: #fff !important;
		}
		a {
			font-weight: 700;
		}
	}
	width: 100vw;
	height: 100vh;
	background: $orange;
	transition-duration: 1s;
	opacity: 0;
	z-index: -2;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	display: flex;
	justify-content: center;
	align-items: center;

	.inner-popup {
		height: 100vh;
		color: #fff;
		opacity: 0;
		-webkit-animation: animatewait forwards;
		animation: animatewait forwards;
		-webkit-animation-duration: .5s;
		animation-duration: .5s;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
		-webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
		width: 80%;
		text-align: center;
		overflow: scroll;
		padding-bottom: 40px;

	}
	&.active {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: $orange;
		top: 0;
		left: 0;
		border-radius: 0%;
		z-index: 600;
		opacity: 1;   

		.inner-popup {
			z-index: 2;
			-webkit-animation: animatewait forwards;
			animation: animatewait forwards;
			-webkit-animation-duration: 2s;
			animation-duration: 2s;
			-webkit-animation-delay: 2.75s;
			animation-delay: 2.75s;
			-webkit-animation-iteration-count: 1;
			animation-iteration-count: 1;
			opacity: 1; 
			h2 {
				font-weight: 700;
				font-size: 2.5em;
				color: #fff;
			}
			p.info-popup {
				width: 65%;
				margin: auto;
				margin-bottom: 40px;
				text-align: center;
				color: #fff;
			}
			label {
				width: 100%;
				* {
					width: 100%;
					text-align: center;
					padding: 5px;
					margin-bottom: 10px;
				}
				br {
					display: none;
				}
				span {
					margin-top: 5px;
				}
			}
			h3 {
				text-align: center;
				text-transform: uppercase;
				color: #333;
				font-size: 20px;
				font-weight: 700;
				margin-top: 40px;
			}
			p {
				margin: 0px;
			}
		}
		input.wpcf7-form-control.wpcf7-submit {
			background: transparent;
			border: solid 2px #fff;
			text-transform: uppercase;
			color: #fff;
			font-weight: 700;
			font-size: 1.25em;
			padding: 10px 40px;
			margin: 0px auto;
			display: block;
			transition-duration: .5s;

			&:hover {
				background-color: #fff;
				color: #333;
			}
		}
	} 
	.remove-popup {
		position: absolute;
		font-size: 3em;
		margin-left: 20px;
		margin-top: 20px;
		z-index: 20;
		svg path {
			fill:#fff;
		}
	}	
	#js-hamburger {
		position: absolute;
		right: 40px;
		top: 40px;
	}
	.cnavi-button {
		cursor: pointer;
	}

	.line{
		width: 50px;
		height: 5px;
		background-color: #fff;
		display: block;
		margin: 8px auto;
		box-shadow: 0px 0px 5px #afafaf;
		transition: all 0.3s ease-in-out;
	}

	#js-hamburger{
		transition: all 0.3s ease-in-out;
	}

	#js-hamburger.is-active{
		-webkit-animation: smallbig 0.6s forwards;
		animation: smallbig 0.6s forwards;
	}

	@-webkit-keyframes smallbig{
		0%, 100%{
			-webkit-transform: scale(1);
			transform: scale(1);
		}

		50%{
			-webkit-transform: scale(0);
			transform: scale(0);
		}
	}

	@keyframes smallbig{
		0%, 100%{
			-webkit-transform: scale(1);
			transform: scale(1);
		}

		50%{
			-webkit-transform: scale(0);
			transform: scale(0);
		}
	}

	#js-hamburger.is-active .line:nth-child(1),
	#js-hamburger.is-active .line:nth-child(2),
	#js-hamburger.is-active .line:nth-child(3){
		transition-delay: 0.2s;
	}

	#js-hamburger.is-active .line:nth-child(2){
		opacity: 0;
	}

	#js-hamburger.is-active .line:nth-child(1){
		-webkit-transform: translateY(13px) rotate(45deg);
		transform: translateY(13px) rotate(45deg);
	}

	#js-hamburger.is-active .line:nth-child(3){
		-webkit-transform: translateY(-13px) rotate(-45deg);
		transform: translateY(-13px) rotate(-45deg);
	}

}
.contact {
	img.icon-contact {
		width: 25px;
		height: auto;
		display: block;
		max-height: 30px; 
	}
	ul.sm {
		display: flex;
		li {
			margin-right: 20px;
			cursor: pointer;
			transition-duration: .5s;
			a {
				border-bottom: none;
				img {
					width: 30px;
					height: auto; 
				}
			}
			&:hover {
				img {
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
			}
		}
	}
	.inner-contact {
		label {
			display: flex;
			//align-items: end;
			img {
				margin-right: 10px;
			}
			&.advanced {
				flex-direction: column;
			}
		}
	} 
	label {
		display: block; 
		margin-top: 20px; 
		&.basic {
			font-weight: 700;
			font-size: 1.3em;
		}
		a {
			color: $grey;
			transition-duration: .5s;
			&:hover {
				color: $orange;
			}
		}
		input, textarea, select {
			width: 100%;
			border: none;
			border-bottom: solid 1px #ddd;
			transition-duration: .5s;
			&:focus, &:hover, &:active {
				outline: none !important;
				border-bottom: solid 1px $orange;
			}
		}
		select {
			width: 100%;
			background: transparent;
			border: none;
			border-bottom: solid 1px #ddd;
		}
		textarea {
			height: 120px;
		}
	} 
	input.wpcf7-form-control.wpcf7-submit {
		background-color: #fecd01;
		color: #333;
		border: none;
		font-weight: 500;
		padding: 10px 20px;
	}
}