.slider {
  height: 95vh;
  background-color: #fff; }
  .slider #slider-theme {
    height: inherit; }
    .slider #slider-theme .carousel-inner {
      height: inherit; }
  .slider .carousel-item:nth-child(odd) .bg-square {
    -webkit-clip-path: polygon(0 0, 20% 0, 65% 100%, 0% 100%);
    clip-path: polygon(0 0, 20% 0, 65% 100%, 0% 100%); }
  .slider .carousel-item:nth-child(odd) .img-abs {
    left: 5%; }
  .slider .carousel-item:nth-child(odd) .inner-text-slider {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    text-align: right;
    margin-right: 5%; }
  .slider .carousel-item:nth-child(odd) h2.mini-title {
    margin-left: auto; }
  .slider .pagination {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 80px;
    display: flex;
    justify-content: space-evenly;
    -webkit-animation: pulse .5s infinite alternate;
    animation: pulse .5s infinite alternate; }
  .slider a {
    color: #000;
    cursor: pointer;
    overflow: hidden; }
    .slider a img {
      cursor: pointer; }
    .slider a .sr-only {
      position: relative;
      width: auto;
      height: auto;
      padding: 0;
      overflow: visible;
      clip: auto;
      white-space: initial;
      border: 0;
      color: #000 !important;
      font-size: 2em; }
    .slider a img {
      width: 25px; }
  .slider img.img-abs {
    max-height: 90%;
    position: absolute;
    z-index: 2;
    right: 5%;
    width: auto; }
  .slider p {
    color: #fff;
    font-weight: 500;
    font-size: 22px; }
  .slider .bg-square {
    width: 100%;
    background: #fff;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0px;
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 15% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 15% 100%);
    right: 0px;
    overflow: visible; }
  .slider .text-slider {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%; }
  .slider .inner-text-slider {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%; }
    .slider .inner-text-slider h2.mini-title {
      font-size: 16px;
      color: #fff;
      font-weight: 700;
      border-bottom: solid 1px #fff;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding-bottom: 5px;
      margin-bottom: 20px; }
    .slider .inner-text-slider h3 {
      font-size: 3.5em;
      color: #fff; }

section.about {
  padding-bottom: 80px; }
  section.about h1 {
    font-size: 2em;
    margin-top: 40px;
    font-weight: 700;
    color: #37392c; }
  section.about p, section.about .desc > * {
    line-height: 32px;
    text-align: inherit;
    color: #7a7a7a; }
  section.about img {
    max-width: 100%;
    height: auto; }

section.steps {
  background-image: url(/wp-content/uploads/2019/07/2211126-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding-bottom: 50px; }
  section.steps h2 {
    font-size: 3em;
    margin-top: 40px;
    font-weight: 700;
    text-align: center; }
  section.steps p.subtitle {
    text-align: center;
    margin-bottom: 50px;
    display: block; }
  section.steps .inner-step {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    align-items: center;
    position: relative; }
    section.steps .inner-step:last-child .arrow {
      display: none; }
    section.steps .inner-step:nth-child(even) {
      flex-direction: row-reverse;
      justify-content: flex-start; }
      section.steps .inner-step:nth-child(even) span.name {
        margin-left: 0px;
        margin-right: -75px; }
      section.steps .inner-step:nth-child(even) .title {
        flex-direction: row-reverse; }
      section.steps .inner-step:nth-child(even) .arrow {
        left: inherit;
        right: -25%;
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg); }
    section.steps .inner-step .arrow {
      position: absolute;
      -webkit-transform: rotate(230deg);
      transform: rotate(230deg);
      width: 150px;
      left: -25%;
      bottom: -40%;
      right: 0; }
      section.steps .inner-step .arrow img {
        max-width: 100%;
        height: auto; }
    section.steps .inner-step .circle {
      flex: 0 0 30%;
      position: relative; }
      section.steps .inner-step .circle img.img-circle {
        border-radius: 100%;
        height: 280px;
        width: 280px;
        margin: auto;
        display: block;
        -o-object-fit: cover;
        object-fit: cover; }
    section.steps .inner-step .title {
      display: flex;
      justify-content: center;
      align-items: center; }
    section.steps .inner-step .number {
      font-size: 9em;
      font-weight: 900;
      color: #fecd01;
      font-family: "Orbitron", sans-serif;
      opacity: .3; }
    section.steps .inner-step .title {
      flex: 0 0 35%; }
      section.steps .inner-step .title span.name {
        font-weight: 700;
        font-size: 2.6em;
        margin-left: -75px;
        position: relative; }
    section.steps .inner-step .text {
      flex: 0 0 35%;
      padding: 15px;
      text-align: center; }

.portfolio .item-portfolio {
  width: 100%;
  position: relative; }
  .portfolio .item-portfolio:hover .inner-portfolio {
    opacity: 1; }
  .portfolio .item-portfolio .inner-portfolio {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(254, 205, 1, 0.8);
    opacity: 0;
    transition-duration: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; }
    .portfolio .item-portfolio .inner-portfolio span.link-box {
      min-height: 70px;
      display: block;
      border: solid 3px #fff;
      padding: 15px;
      min-width: 70px;
      border-radius: 100%; }
.portfolio h5 {
  color: #fff;
  margin-bottom: 20px;
  display: block;
  text-shadow: 0px 0px 3px #999; }
.portfolio a img {
  width: 80px;
  height: 35px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 51%; }
  .portfolio a img.link {
    opacity: 1; }
  .portfolio a img.click {
    opacity: 0; }
  .portfolio a img:active.link {
    opacity: 0; }
  .portfolio a img:active.click {
    opacity: 1; }
.portfolio img {
  width: 100%;
  height: auto; }

.oferta {
  min-height: 600px;
  display: flex;
  align-items: center; }
  .oferta .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    flex-direction: column; }
    .oferta .nav li {
      padding: 10px 0px;
      border-bottom: solid 1px #ddd; }
      .oferta .nav li a {
        transition-duration: .5s;
        color: #37392c;
        font-weight: 500; }
        .oferta .nav li a.active {
          transition-duration: .5s;
          color: #fecd01; }
  .oferta .thumbnail img {
    max-height: 300px;
    -o-object-fit: cover;
    object-fit: cover; }
  .oferta h3 {
    margin-top: 20px; }
  .oferta .tab-pane > p {
    margin: 0px; }
  .oferta .tab-pane > a {
    margin-top: 10px;
    color: #fecd01;
    transition-duration: .5s;
    font-weight: 500;
    display: flex;
    width: 140px; }
    .oferta .tab-pane > a:hover {
      letter-spacing: 1px; }

.pakiety {
  margin-top: 90px;
  padding-top: 90px;
  background-image: url(/wp-content/uploads/2019/07/3929.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff; }
  .pakiety .text-section {
    color: #b9b9b9;
    margin-bottom: 60px; }
  .pakiety .col-xl-4:nth-child(2) .pakiet {
    -webkit-animation-delay: .25s;
    animation-delay: .25s; }
  .pakiety .col-xl-4:nth-child(3) .pakiet {
    -webkit-animation-delay: .5s;
    animation-delay: .5s; }
  .pakiety .col-xl-4:nth-child(2) > * {
    margin-top: -20px; }
    .pakiety .col-xl-4:nth-child(2) > * .pakiet {
      opacity: .9; }
  .pakiety .pakiet {
    margin-bottom: 40px;
    background: #fff;
    padding: 20px;
    color: #333;
    text-align: center;
    border: solid 1px #e9e9e9;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    opacity: .75;
    transition-duration: .5s;
    padding-bottom: 40px; }
    .pakiety .pakiet:hover {
      margin-top: -50px;
      opacity: 1; }
    .pakiety .pakiet ul {
      padding: 0;
      width: 100%;
      text-align: left;
      list-style-type: none; }
      .pakiety .pakiet ul li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: solid 1px #e7e7e7;
        color: #ddd; }
        .pakiety .pakiet ul li.active {
          color: #333; }
        .pakiety .pakiet ul li img.checked {
          width: 15px;
          height: 100%;
          margin-right: 5px; }
    .pakiety .pakiet .name {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
      font-size: 2em;
      text-transform: uppercase;
      font-weight: 700;
      color: #333; }
    .pakiety .pakiet .cena {
      font-size: 2em;
      font-weight: 700; }
      .pakiety .pakiet .cena i {
        font-style: normal; }
    .pakiety .pakiet button {
      background-color: #fecd01;
      color: #333;
      font-weight: 700;
      text-transform: uppercase;
      padding: 5px 10px;
      border-color: #fecd01;
      font-size: 1.2em;
      position: relative;
      margin-top: 15px;
      transition-duration: .5s;
      cursor: pointer; }
      .pakiety .pakiet button:after {
        transition-duration: .5s;
        content: " ";
        width: 110%;
        height: 150%;
        top: -25%;
        left: -5%;
        display: block;
        position: absolute;
        border: solid 2px #fecd01;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0); }
      .pakiety .pakiet button:hover:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1); }
  .pakiety small {
    width: 100%;
    display: block;
    margin-top: 10px;
    color: #cecece; }

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fecd01;
  transition-duration: 1s;
  opacity: 0;
  z-index: -2;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .popup.send-success {
    background-image: linear-gradient(to bottom right, #28A745, #20b842) !important;
    transition-duration: 1s; }
    .popup.send-success .thanks {
      z-index: 2;
      opacity: 1;
      transition-duration: .5s;
      display: flex; }
    .popup.send-success .info-popup, .popup.send-success h2.title-popup {
      display: none; }
    .popup.send-success #wpcf7-f5-o1 {
      z-index: -1;
      opacity: 0;
      transition-duration: .5s; }
  .popup .thanks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    transition-duration: .5s;
    display: none; }
    .popup .thanks > * {
      color: #fff !important; }
    .popup .thanks a {
      font-weight: 700; }
  .popup .inner-popup {
    height: 100vh;
    color: #fff;
    opacity: 0;
    -webkit-animation: animatewait forwards;
    animation: animatewait forwards;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    width: 80%;
    text-align: center;
    overflow: scroll;
    padding-bottom: 40px; }
  .popup.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #fecd01;
    top: 0;
    left: 0;
    border-radius: 0%;
    z-index: 600;
    opacity: 1; }
    .popup.active .inner-popup {
      z-index: 2;
      -webkit-animation: animatewait forwards;
      animation: animatewait forwards;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-delay: 2.75s;
      animation-delay: 2.75s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      opacity: 1; }
      .popup.active .inner-popup h2 {
        font-weight: 700;
        font-size: 2.5em;
        color: #fff; }
      .popup.active .inner-popup p.info-popup {
        width: 65%;
        margin: auto;
        margin-bottom: 40px;
        text-align: center;
        color: #fff; }
      .popup.active .inner-popup label {
        width: 100%; }
        .popup.active .inner-popup label * {
          width: 100%;
          text-align: center;
          padding: 5px;
          margin-bottom: 10px; }
        .popup.active .inner-popup label br {
          display: none; }
        .popup.active .inner-popup label span {
          margin-top: 5px; }
      .popup.active .inner-popup h3 {
        text-align: center;
        text-transform: uppercase;
        color: #333;
        font-size: 20px;
        font-weight: 700;
        margin-top: 40px; }
      .popup.active .inner-popup p {
        margin: 0px; }
    .popup.active input.wpcf7-form-control.wpcf7-submit {
      background: transparent;
      border: solid 2px #fff;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      font-size: 1.25em;
      padding: 10px 40px;
      margin: 0px auto;
      display: block;
      transition-duration: .5s; }
      .popup.active input.wpcf7-form-control.wpcf7-submit:hover {
        background-color: #fff;
        color: #333; }
  .popup .remove-popup {
    position: absolute;
    font-size: 3em;
    margin-left: 20px;
    margin-top: 20px;
    z-index: 20; }
    .popup .remove-popup svg path {
      fill: #fff; }
  .popup #js-hamburger {
    position: absolute;
    right: 40px;
    top: 40px; }
  .popup .cnavi-button {
    cursor: pointer; }
  .popup .line {
    width: 50px;
    height: 5px;
    background-color: #fff;
    display: block;
    margin: 8px auto;
    box-shadow: 0px 0px 5px #afafaf;
    transition: all 0.3s ease-in-out; }
  .popup #js-hamburger {
    transition: all 0.3s ease-in-out; }
  .popup #js-hamburger.is-active {
    -webkit-animation: smallbig 0.6s forwards;
    animation: smallbig 0.6s forwards; }
@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
  .popup #js-hamburger.is-active .line:nth-child(1),
  .popup #js-hamburger.is-active .line:nth-child(2),
  .popup #js-hamburger.is-active .line:nth-child(3) {
    transition-delay: 0.2s; }
  .popup #js-hamburger.is-active .line:nth-child(2) {
    opacity: 0; }
  .popup #js-hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg); }
  .popup #js-hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg); }

.contact img.icon-contact {
  width: 25px;
  height: auto;
  display: block;
  max-height: 30px; }
.contact ul.sm {
  display: flex; }
  .contact ul.sm li {
    margin-right: 20px;
    cursor: pointer;
    transition-duration: .5s; }
    .contact ul.sm li a {
      border-bottom: none; }
      .contact ul.sm li a img {
        width: 30px;
        height: auto; }
    .contact ul.sm li:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
.contact .inner-contact label {
  display: flex; }
  .contact .inner-contact label img {
    margin-right: 10px; }
  .contact .inner-contact label.advanced {
    flex-direction: column; }
.contact label {
  display: block;
  margin-top: 20px; }
  .contact label.basic {
    font-weight: 700;
    font-size: 1.3em; }
  .contact label a {
    color: #37392c;
    transition-duration: .5s; }
    .contact label a:hover {
      color: #fecd01; }
  .contact label input, .contact label textarea, .contact label select {
    width: 100%;
    border: none;
    border-bottom: solid 1px #ddd;
    transition-duration: .5s; }
    .contact label input:focus, .contact label input:hover, .contact label input:active, .contact label textarea:focus, .contact label textarea:hover, .contact label textarea:active, .contact label select:focus, .contact label select:hover, .contact label select:active {
      outline: none !important;
      border-bottom: solid 1px #fecd01; }
  .contact label select {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: solid 1px #ddd; }
  .contact label textarea {
    height: 120px; }
.contact input.wpcf7-form-control.wpcf7-submit {
  background-color: #fecd01;
  color: #333;
  border: none;
  font-weight: 500;
  padding: 10px 20px; }

/*# sourceMappingURL=home.css.map */
