$orange: #fecd01;
$grey: #37392c;
$lgrey: #7a7a7a;
$ffont: 'Orbitron', sans-serif;
$sfont: 'Quicksand', sans-serif;
$tfont: 'Play', sans-serif; 
@-webkit-keyframes zooming-bg {
	0% {
		background-size: 180%;
		opacity: 0;
	}
	100% {
		background-size: 100%;
		opacity: 1;
	}
} 
@keyframes zooming-bg {
	0% {
		background-size: 180%;
		opacity: 0;
	}
	100% {
		background-size: 100%;
		opacity: 1;
	}
}

.header-present {
	width: 100%;
	height: 250px;
	
	border-bottom: solid 1px #ddd;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	h1 {
		margin-bottom: 0px;
		font-size: 4em;
		font-weight: 600;
	}
	.rank-math-breadcrumb {
		p {
			margin-bottom: 20px;
		}
		a {
			color: #ddd;
			transition-duration: .5s;
			&:hover {
				color: $orange;
			}
		}
		span {
			color: #999;
		}
		span.last {
			font-weight: 600;
		}
	}
}
#navi-button .c-navi-button {
	.line {
		background-color: $grey;
		box-shadow: none;
		transition-duration: .5s;
	}
	&.is-active {
		.line {
			background-color: #fff;
		}	
	}
}
.oferta-page {

	.row {
		& > .col-xl-4:nth-child(even) {
			.inner-portfolio {
				display: flex;
				flex-direction: column-reverse;
			}
		}
	}
	.inner-portfolio {
		border: solid 1px #ddd;
		background: #fcfbfb;
		margin-bottom: 40px;
		transition-duration: .5s;
		&:hover {
			background: $orange;
		}
		h3 {
			width: 100%;
			text-align: center;
			font-size: 1.2em;
			font-weight: 600;
			color: $grey;
		}
		p {
			text-align: center;
			font-size: 13px;
			min-height: 75px;
		}
		.position-href {
			width: 100%; 
			display: flex;
			justify-content: center;
			a {
				color: $grey;
				transition-duration: .5s;
				&:hover {
					color: #fff;
				}
			}
		}
		.item-inner-portfolio {
			img {
				max-height: 180px;
				-o-object-fit: cover;
				object-fit: cover;
				-o-object-position: center;
				object-position: center;
			}
			&:nth-child(1) {

			}		 
			&:nth-child(2) {
				padding:15px;
				min-height: 180px;
			}		
		}
	}
}
#portfolio {
	.box {
		min-height: 220px;
		background-size: cover;
		margin-bottom: 30px;
		position: relative;
		overflow: hidden;
		img.img-realizacje {
			width: 100%;
			height: 250px;
			transition-duration: .5s;
			-o-object-fit: cover;
			object-fit: cover;
		}
		.box-info {
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0px;
			top: 0px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			opacity: 0;
			transition-duration: .5s;
			background-color: rgba(255,255,255,.4);
			z-index: -1;
			a {	
				span.link-box {
					min-height: 70px;
					display: block;
					border: solid 3px #fff;
					padding: 15px;
					min-width: 70px;
					border-radius: 100%;
					-webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,.5));
					filter: drop-shadow(0px 0px 5px rgba(0,0,0,.5));
				} 
				img {
					width: 80px;
					height: 35px;
					position: absolute;
					left: 50%;
					-webkit-transform: translate(-50%, 0);
					transform: translate(-50%, 0);
					transition-duration: .5s;
					&.link {
						opacity: 1;
					}
					&.click {
						opacity: 0;
					}
					&:active {
						&.link {
							opacity: 0;
						}
						&.click {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.filtermenu { 
		display: flex;   
		justify-content: space-between;
		margin-bottom: 20px;
		li {
			text-transform: uppercase;
			border: solid 1px $grey;
			padding: 5px 10px;
			font-weight: 500;
			font-size: .9em;
			background-color: #fff;
			transition-duration: .2s;
			cursor: pointer;
			&.active {
				background-color: $orange;
				border-color: $orange;  
			}
		}
	}
	.post-portfolio:hover {
		.box-info {
			z-index: 2;
			opacity: 1;
		}

		img.img-realizacje {
			-webkit-filter: blur(2px);
			filter: blur(2px);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
}
#kontakt {
	.item-contact {
		height: inherit;
		.label-contact {
			text-align: center;
			font-weight: 500; 
			color: $grey;
			a {
				font-weight: 400;
				color: $grey;
				transition-duration: .5s;
				&:hover {
					color: $orange;
				}
			}
		}
		h4 {
			text-align: center;
			margin-top: 20px;color: $grey;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: 700;
			font-family: $ffont;
		}
		.circle {
			background: $orange;
			border-radius: 100%;
			height: 200px;
			width: 200px;
			margin: auto;
			position: relative;
			margin-top: 30px;
			z-index: 2;
			&:before {
				content: " ";
			}
			.icon {
				height: 100%;
				width: 100%;
				svg {
					max-width: 60px;
					max-height: 100%;
					margin: auto;
					display: block; 
				}
			}
		}
	}
	.bottom-contact-container {
		width: 100%;
		margin-top: 60px;
		.inner-contact {
			label {
				display: flex;
				align-items: end;
				img {
					margin-right: 10px;
				}
				&.advanced {
					flex-direction: column;
				}
			}
		} 
		label {
			display: block; 
			margin-top: 20px;
			&.basic {
				font-weight: 700;
				font-size: 1.3em;
			}
			a {
				color: $grey;
				transition-duration: .5s;
				&:hover {
					color: $orange;
				}
			}
			input, textarea, select {
				width: 100%;
				border: none;
				border-bottom: solid 1px #ddd;
				transition-duration: .5s;
				&:focus, &:hover, &:active {
					outline: none !important;
					border-bottom: solid 1px $orange;
				}
			}
			select {
				width: 100%;
				background: transparent;
				border: none;
				border-bottom: solid 1px #ddd;
			}
			textarea {
				height: 180px;
			}
		} 
		input.wpcf7-form-control.wpcf7-submit {
			background-color: #fecd01; 
			color: #333;
			border: none;
			font-weight: 500;
			padding: 10px 20px;
		}
	}
	.map {
		margin-bottom: 40px;
	}
}
.background-grey {
	background-color: $grey;
}
.header-present.oferta.realizacje {
	-webkit-animation: zooming-bg 1s;
	animation: zooming-bg 1s;
	background-position: center;
	background-size: cover;
	transition-duration: .5s;
	position: relative;
	z-index: 2;
}
#oferta {
	.buttons {
		display: flex;
		justify-content: space-evenly;
	}
	h3.title {
		text-align: center;
		margin-top: 70px;
		display: block;
		font-weight: 600;
		font-family: $ffont;
	}
	.row {
		height: 100%;
		.thumbnail {
			height: 100%;
			img {
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
	}
	.btn-t.btn-1 span, .btn-t.btn-2 span {
		color: $grey; 
	}
	.btn-t {
		&:hover span {
			color: #fff !important;
		}
	}
	.item-oferta {
		padding: 30px;
		height: 100%;
		overflow-y: hidden;
		margin-left: -15px;
		margin-right: -15px;
		h3 {
			font-size: 1.5em;
			font-weight: 600;
			font-family: $ffont, $tfont;  
			&:after {
				content: " ";
				width: 15%;
				height: 4px;
				background: $orange;
				display: block;
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
	}
	.dla-kogo {
		background: $grey;
		margin-left: -30px;
		margin-right: -30px;
		height: 100%;
		img {
			max-width: 40px;
			height: auto;
			margin: 15px;
			margin-top: 40px;
		}
		h4 {
			font-family: $ffont;
			color:#fff;
			font-size: 15px;
			margin-left: 15px;
			text-transform: uppercase;
			font-weight: 600;
		}
		.inner-dla-kogo { 
			height: 100%;
			overflow: hidden;
			p {
				color: #fff; 
				padding: 0px 15px;
				a {
					color: $orange;
					font-weight: 600; 
				}
			}
			& > * {
				height: inherit;
				& > * {
					height: inherit;
					&:nth-child(1) {
						& > * {
							background-color: #262621;
						}
					}
					& > * {
						height: inherit;
					}
				}
			}
		}
	}
	.inner-text-zalety {
		p {
			width: 80%;
		}
		ul {
			li {
				margin-bottom: 5px;
				width: 80%;
				&:before {
					content: "- "
				}
			}
		}
	}
}
body.single #navi-button .c-navi-button .line {
	background-color: #fff;
	box-shadow: none;
	transition-duration: .5s;
}
header {
	position: absolute;
	z-index: 3 !important;
	width: 100%;
}
#realizacje {
	.pos-button {
		margin-top: 40px;
		margin-bottom: 80px;
		a.wroc {
			background: #fecd01;
			text-transform: uppercase;
			color: #fff;
			font-weight: 600;
			font-size: 18px;
			padding: 20px 30px;
		}
	}
	.other-page {
		.item-portfolio {
			position: relative;
			img {
				max-width: 100%;
				height: auto;
			}
			&:hover {
				.hover-content {
					opacity: 1;
					transition-duration: .5s;
				}	
			}
			.hover-content {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				display: flex;
				opacity: 0;
				justify-content: center;
				align-items: center;
				flex-direction: column-reverse;
				background-color: rgba(255,255,255,.7);
				h5 {
					font-weight: 700;
					color: #fff;
					text-shadow: 0px 0px 3px #8c8c8c;
					letter-spacing: 2px;
				}
				button {
					background: $orange;
					border-color: $orange;
					color: #fff;
					text-transform: uppercase;
					font-weight: 500;
					padding: 5px 10px;
					transition-duration: .5s;
					&:hover {
						background: #fff;
						border-color: #fff;
						color: $grey;
					}
				}
			}
		}
	}
	.grey-slider-container {
		background-color: #1b1d1f; 
		padding: 150px;
	}
	.solutions-used {
		padding:80px 0px; 
		ul {
			list-style-type: none;
			padding: 0px;
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
			li {
				height: 50px;
				display: flex;
				align-items: center;
				opacity: .2;
				&.active {
					opacity: 1;
				} 
				span {
					text-transform: capitalize;
					font-weight: 500;
				}
				img.icon-solutions {
					height: 20px;
					margin-right: 5px;
				}
			}
		}
	}
	h3 {
		text-align: center;
		font-weight: 600;
		font-size: 2.5em;
	}
	.inner-container p {
		text-align: center;
		width: 80%;
		margin: auto;
		margin-bottom: 40px;
	}
} 
#cta {
	.buttons {
		display: flex;
		justify-content: space-evenly;
	}
	h3.title {
		text-align: center;
		margin-top: 70px;
		display: block;
		font-weight: 600;
		font-family: $ffont; 
	}
	.row {
		height: 100%;
		.thumbnail {
			height: 100%;
			img {
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
	}
	.btn-t.btn-1 span, .btn-t.btn-2 span {
		color: $grey; 
	}
	.btn-t {
		&:hover span {
			color: #fff !important;
		}
	}
}
