@-webkit-keyframes zooming-bg {
  0% {
    background-size: 180%;
    opacity: 0; }
  100% {
    background-size: 100%;
    opacity: 1; } }
@keyframes zooming-bg {
  0% {
    background-size: 180%;
    opacity: 0; }
  100% {
    background-size: 100%;
    opacity: 1; } }
.header-present {
  width: 100%;
  height: 250px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  .header-present h1 {
    margin-bottom: 0px;
    font-size: 4em;
    font-weight: 600; }
  .header-present .rank-math-breadcrumb p {
    margin-bottom: 20px; }
  .header-present .rank-math-breadcrumb a {
    color: #ddd;
    transition-duration: .5s; }
    .header-present .rank-math-breadcrumb a:hover {
      color: #fecd01; }
  .header-present .rank-math-breadcrumb span {
    color: #999; }
  .header-present .rank-math-breadcrumb span.last {
    font-weight: 600; }

#navi-button .c-navi-button .line {
  background-color: #37392c;
  box-shadow: none;
  transition-duration: .5s; }
#navi-button .c-navi-button.is-active .line {
  background-color: #fff; }

.oferta-page .row > .col-xl-4:nth-child(even) .inner-portfolio {
  display: flex;
  flex-direction: column-reverse; }
.oferta-page .inner-portfolio {
  border: solid 1px #ddd;
  background: #fcfbfb;
  margin-bottom: 40px;
  transition-duration: .5s; }
  .oferta-page .inner-portfolio:hover {
    background: #fecd01; }
  .oferta-page .inner-portfolio h3 {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    color: #37392c; }
  .oferta-page .inner-portfolio p {
    text-align: center;
    font-size: 13px;
    min-height: 75px; }
  .oferta-page .inner-portfolio .position-href {
    width: 100%;
    display: flex;
    justify-content: center; }
    .oferta-page .inner-portfolio .position-href a {
      color: #37392c;
      transition-duration: .5s; }
      .oferta-page .inner-portfolio .position-href a:hover {
        color: #fff; }
  .oferta-page .inner-portfolio .item-inner-portfolio img {
    max-height: 180px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
  .oferta-page .inner-portfolio .item-inner-portfolio:nth-child(2) {
    padding: 15px;
    min-height: 180px; }

#portfolio .box {
  min-height: 220px;
  background-size: cover;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; }
  #portfolio .box img.img-realizacje {
    width: 100%;
    height: 250px;
    transition-duration: .5s;
    -o-object-fit: cover;
    object-fit: cover; }
  #portfolio .box .box-info {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition-duration: .5s;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -1; }
    #portfolio .box .box-info a span.link-box {
      min-height: 70px;
      display: block;
      border: solid 3px #fff;
      padding: 15px;
      min-width: 70px;
      border-radius: 100%;
      -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5)); }
    #portfolio .box .box-info a img {
      width: 80px;
      height: 35px;
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      transition-duration: .5s; }
      #portfolio .box .box-info a img.link {
        opacity: 1; }
      #portfolio .box .box-info a img.click {
        opacity: 0; }
      #portfolio .box .box-info a img:active.link {
        opacity: 0; }
      #portfolio .box .box-info a img:active.click {
        opacity: 1; }
#portfolio .filtermenu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  #portfolio .filtermenu li {
    text-transform: uppercase;
    border: solid 1px #37392c;
    padding: 5px 10px;
    font-weight: 500;
    font-size: .9em;
    background-color: #fff;
    transition-duration: .2s;
    cursor: pointer; }
    #portfolio .filtermenu li.active {
      background-color: #fecd01;
      border-color: #fecd01; }
#portfolio .post-portfolio:hover .box-info {
  z-index: 2;
  opacity: 1; }
#portfolio .post-portfolio:hover img.img-realizacje {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

#kontakt .item-contact {
  height: inherit; }
  #kontakt .item-contact .label-contact {
    text-align: center;
    font-weight: 500;
    color: #37392c; }
    #kontakt .item-contact .label-contact a {
      font-weight: 400;
      color: #37392c;
      transition-duration: .5s; }
      #kontakt .item-contact .label-contact a:hover {
        color: #fecd01; }
  #kontakt .item-contact h4 {
    text-align: center;
    margin-top: 20px;
    color: #37392c;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: "Orbitron", sans-serif; }
  #kontakt .item-contact .circle {
    background: #fecd01;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin: auto;
    position: relative;
    margin-top: 30px;
    z-index: 2; }
    #kontakt .item-contact .circle:before {
      content: " "; }
    #kontakt .item-contact .circle .icon {
      height: 100%;
      width: 100%; }
      #kontakt .item-contact .circle .icon svg {
        max-width: 60px;
        max-height: 100%;
        margin: auto;
        display: block; }
#kontakt .bottom-contact-container {
  width: 100%;
  margin-top: 60px; }
  #kontakt .bottom-contact-container .inner-contact label {
    display: flex;
    align-items: end; }
    #kontakt .bottom-contact-container .inner-contact label img {
      margin-right: 10px; }
    #kontakt .bottom-contact-container .inner-contact label.advanced {
      flex-direction: column; }
  #kontakt .bottom-contact-container label {
    display: block;
    margin-top: 20px; }
    #kontakt .bottom-contact-container label.basic {
      font-weight: 700;
      font-size: 1.3em; }
    #kontakt .bottom-contact-container label a {
      color: #37392c;
      transition-duration: .5s; }
      #kontakt .bottom-contact-container label a:hover {
        color: #fecd01; }
    #kontakt .bottom-contact-container label input, #kontakt .bottom-contact-container label textarea, #kontakt .bottom-contact-container label select {
      width: 100%;
      border: none;
      border-bottom: solid 1px #ddd;
      transition-duration: .5s; }
      #kontakt .bottom-contact-container label input:focus, #kontakt .bottom-contact-container label input:hover, #kontakt .bottom-contact-container label input:active, #kontakt .bottom-contact-container label textarea:focus, #kontakt .bottom-contact-container label textarea:hover, #kontakt .bottom-contact-container label textarea:active, #kontakt .bottom-contact-container label select:focus, #kontakt .bottom-contact-container label select:hover, #kontakt .bottom-contact-container label select:active {
        outline: none !important;
        border-bottom: solid 1px #fecd01; }
    #kontakt .bottom-contact-container label select {
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: solid 1px #ddd; }
    #kontakt .bottom-contact-container label textarea {
      height: 180px; }
  #kontakt .bottom-contact-container input.wpcf7-form-control.wpcf7-submit {
    background-color: #fecd01;
    color: #333;
    border: none;
    font-weight: 500;
    padding: 10px 20px; }
#kontakt .map {
  margin-bottom: 40px; }

.background-grey {
  background-color: #37392c; }

.header-present.oferta.realizacje {
  -webkit-animation: zooming-bg 1s;
  animation: zooming-bg 1s;
  background-position: center;
  background-size: cover;
  transition-duration: .5s;
  position: relative;
  z-index: 2; }

#oferta .buttons {
  display: flex;
  justify-content: space-evenly; }
#oferta h3.title {
  text-align: center;
  margin-top: 70px;
  display: block;
  font-weight: 600;
  font-family: "Orbitron", sans-serif; }
#oferta .row {
  height: 100%; }
  #oferta .row .thumbnail {
    height: 100%; }
    #oferta .row .thumbnail img {
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
#oferta .btn-t.btn-1 span, #oferta .btn-t.btn-2 span {
  color: #37392c; }
#oferta .btn-t:hover span {
  color: #fff !important; }
#oferta .item-oferta {
  padding: 30px;
  height: 100%;
  overflow-y: hidden;
  margin-left: -15px;
  margin-right: -15px; }
  #oferta .item-oferta h3 {
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Orbitron", sans-serif, "Play", sans-serif; }
    #oferta .item-oferta h3:after {
      content: " ";
      width: 15%;
      height: 4px;
      background: #fecd01;
      display: block;
      margin-top: 30px;
      margin-bottom: 30px; }
#oferta .dla-kogo {
  background: #37392c;
  margin-left: -30px;
  margin-right: -30px;
  height: 100%; }
  #oferta .dla-kogo img {
    max-width: 40px;
    height: auto;
    margin: 15px;
    margin-top: 40px; }
  #oferta .dla-kogo h4 {
    font-family: "Orbitron", sans-serif;
    color: #fff;
    font-size: 15px;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 600; }
  #oferta .dla-kogo .inner-dla-kogo {
    height: 100%;
    overflow: hidden; }
    #oferta .dla-kogo .inner-dla-kogo p {
      color: #fff;
      padding: 0px 15px; }
      #oferta .dla-kogo .inner-dla-kogo p a {
        color: #fecd01;
        font-weight: 600; }
    #oferta .dla-kogo .inner-dla-kogo > * {
      height: inherit; }
      #oferta .dla-kogo .inner-dla-kogo > * > * {
        height: inherit; }
        #oferta .dla-kogo .inner-dla-kogo > * > *:nth-child(1) > * {
          background-color: #262621; }
        #oferta .dla-kogo .inner-dla-kogo > * > * > * {
          height: inherit; }
#oferta .inner-text-zalety p {
  width: 80%; }
#oferta .inner-text-zalety ul li {
  margin-bottom: 5px;
  width: 80%; }
  #oferta .inner-text-zalety ul li:before {
    content: "- "; }

body.single #navi-button .c-navi-button .line {
  background-color: #fff;
  box-shadow: none;
  transition-duration: .5s; }

header {
  position: absolute;
  z-index: 3 !important;
  width: 100%; }

#realizacje .pos-button {
  margin-top: 40px;
  margin-bottom: 80px; }
  #realizacje .pos-button a.wroc {
    background: #fecd01;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 30px; }
#realizacje .other-page .item-portfolio {
  position: relative; }
  #realizacje .other-page .item-portfolio img {
    max-width: 100%;
    height: auto; }
  #realizacje .other-page .item-portfolio:hover .hover-content {
    opacity: 1;
    transition-duration: .5s; }
  #realizacje .other-page .item-portfolio .hover-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    background-color: rgba(255, 255, 255, 0.7); }
    #realizacje .other-page .item-portfolio .hover-content h5 {
      font-weight: 700;
      color: #fff;
      text-shadow: 0px 0px 3px #8c8c8c;
      letter-spacing: 2px; }
    #realizacje .other-page .item-portfolio .hover-content button {
      background: #fecd01;
      border-color: #fecd01;
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      padding: 5px 10px;
      transition-duration: .5s; }
      #realizacje .other-page .item-portfolio .hover-content button:hover {
        background: #fff;
        border-color: #fff;
        color: #37392c; }
#realizacje .grey-slider-container {
  background-color: #1b1d1f;
  padding: 150px; }
#realizacje .solutions-used {
  padding: 80px 0px; }
  #realizacje .solutions-used ul {
    list-style-type: none;
    padding: 0px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
    #realizacje .solutions-used ul li {
      height: 50px;
      display: flex;
      align-items: center;
      opacity: .2; }
      #realizacje .solutions-used ul li.active {
        opacity: 1; }
      #realizacje .solutions-used ul li span {
        text-transform: capitalize;
        font-weight: 500; }
      #realizacje .solutions-used ul li img.icon-solutions {
        height: 20px;
        margin-right: 5px; }
#realizacje h3 {
  text-align: center;
  font-weight: 600;
  font-size: 2.5em; }
#realizacje .inner-container p {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 40px; }

#cta .buttons {
  display: flex;
  justify-content: space-evenly; }
#cta h3.title {
  text-align: center;
  margin-top: 70px;
  display: block;
  font-weight: 600;
  font-family: "Orbitron", sans-serif; }
#cta .row {
  height: 100%; }
  #cta .row .thumbnail {
    height: 100%; }
    #cta .row .thumbnail img {
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
#cta .btn-t.btn-1 span, #cta .btn-t.btn-2 span {
  color: #37392c; }
#cta .btn-t:hover span {
  color: #fff !important; }

/*# sourceMappingURL=page.css.map */
