@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
@-webkit-keyframes navig {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes navig {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes navig-rev {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes navig-rev {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
#wptime-plugin-preloader {
  background-size: auto !important;
  width: 100vw;
  overflow-x: hidden; }

.title-container h2 {
  width: 100%;
  margin-top: 40px;
  font-weight: 700;
  text-align: center;
  font-size: 3em; }
.title-container p {
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  width: 70%; }

.thumbnail img {
  max-width: 100%;
  height: auto; }

.reverse {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

* {
  font-family: "Quicksand", sans-serif;
  outline: none; }
  *:focus, *:hover, *:active {
    outline: none !important; }

h1, h2, h3 {
  font-family: "Orbitron", sans-serif, "Play", sans-serif; }

a:hover {
  text-decoration: none; }

ul {
  list-style-type: none;
  padding: 0px; }

main {
  min-height: 100vh;
  padding-bottom: 50px;
  transition-duration: .5s; }

nav {
  transition-duration: .5s;
  opacity: 0;
  -webkit-animation: navig 2s forwards;
  animation: navig 2s forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

section {
  padding-top: 80px;
  position: relative; }
  section:first-child {
    padding-top: 0px; }

nav.anime-out {
  opacity: 1;
  -webkit-animation: navig-rev 2s forwards;
  animation: navig-rev 2s forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

#navi-button {
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 200; }
  #navi-button .c-navi-button {
    cursor: pointer; }
  #navi-button .line {
    width: 50px;
    height: 5px;
    background-color: #fff;
    display: block;
    margin: 8px auto;
    box-shadow: 0px 0px 5px #afafaf;
    transition: all 0.3s ease-in-out; }
  #navi-button #js-hamburger {
    transition: all 0.3s ease-in-out; }
  #navi-button #js-hamburger.is-active {
    -webkit-animation: smallbig 0.6s forwards;
    animation: smallbig 0.6s forwards; }
@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
  #navi-button #js-hamburger.is-active .line:nth-child(1),
  #navi-button #js-hamburger.is-active .line:nth-child(2),
  #navi-button #js-hamburger.is-active .line:nth-child(3) {
    transition-delay: 0.2s; }
  #navi-button #js-hamburger.is-active .line:nth-child(2) {
    opacity: 0; }
  #navi-button #js-hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg); }
  #navi-button #js-hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg); }

.btn-t {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 10px 30px;
  border: solid 1px #fff;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  overflow-y: hidden; }
  .btn-t span {
    position: relative;
    z-index: 2;
    color: #fff;
    font-weight: 700;
    transition-duration: .5s; }
  .btn-t:hover span {
    color: #000; }
  .btn-t:hover:before {
    top: 0%; }
  .btn-t:hover:after {
    top: 0%; }
  .btn-t:before {
    transition-duration: .5s;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -100%;
    left: 0px;
    background-image: linear-gradient(transparent, #fff); }
  .btn-t:after {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
    transition-duration: 1s;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -100%;
    left: 0px;
    background: white; }

.btn-t.btn-1 {
  background: rgba(254, 205, 1, 0.2);
  border: solid 1px #fecd01;
  color: #fff;
  transition-duration: .5s; }
  .btn-t.btn-1:before {
    background-image: linear-gradient(#fecd01, transparent); }
  .btn-t.btn-1:after {
    background: #fecd01; }
  .btn-t.btn-1:hover {
    color: #000;
    background: #fecd01; }
  .btn-t.btn-1 span {
    color: #fff; }

.btn-t.btn-2 {
  background: rgba(55, 57, 44, 0.2);
  border: solid 1px #37392c;
  color: #fff;
  transition-duration: .25s; }
  .btn-t.btn-2:before {
    background-image: linear-gradient(#37392c, transparent); }
  .btn-t.btn-2:after {
    background: #37392c; }
  .btn-t.btn-2:hover {
    color: #fff;
    background: #37392c; }
  .btn-t.btn-2 span {
    color: #fff; }

header {
  position: absolute;
  z-index: 2;
  width: 100%; }
  header .navbar-brand {
    background: rgba(255, 255, 255, 0.75);
    padding: 10px; }

#mainmenu {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #fecd01;
  /* The Fallback */
  background: rgba(254, 205, 1, 0.9);
  top: 0px;
  justify-content: center;
  align-items: center;
  z-index: -1;
  display: none;
  transition-duration: .5s; }
  #mainmenu img.logotype {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 180px;
    max-width: 50vh;
    -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.2));
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.2)); }
  #mainmenu.active {
    z-index: 5;
    display: flex; }
    #mainmenu.active .menu-nawigacja-home-container {
      -webkit-animation-delay: .5s;
      animation-delay: .5s; }
  #mainmenu ul#menu-nawigacja-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto; }
    #mainmenu ul#menu-nawigacja-home li {
      position: relative; }
      #mainmenu ul#menu-nawigacja-home li:after {
        content: " ";
        width: 0%;
        display: block;
        height: 4px;
        background: #fff;
        position: absolute;
        top: calc(50% - 4px);
        left: -5%;
        transition-duration: .5s; }
      #mainmenu ul#menu-nawigacja-home li a {
        color: #fff;
        font-size: 1.6em;
        font-family: "Orbitron", sans-serif, "Play", sans-serif;
        font-weight: 700; }
      #mainmenu ul#menu-nawigacja-home li:hover:after {
        width: 110%; }
  #mainmenu .oferta-navi, #mainmenu .realizacje-navi {
    position: absolute;
    bottom: 0px;
    color: #fff;
    border: solid 1px #fff;
    padding: 15px;
    padding-bottom: 30px;
    border-bottom: none;
    transition-duration: 1s;
    left: -10vh;
    z-index: -2;
    opacity: 0; }
    #mainmenu .oferta-navi ul, #mainmenu .realizacje-navi ul {
      list-style-type: none;
      padding: 0px;
      min-width: 350px;
      max-width: 100vw;
      max-height: 250px;
      display: block;
      overflow: scroll; }
      #mainmenu .oferta-navi ul li, #mainmenu .realizacje-navi ul li {
        min-height: 30px; }
        #mainmenu .oferta-navi ul li:first-child, #mainmenu .realizacje-navi ul li:first-child {
          display: none; }
      #mainmenu .oferta-navi ul a, #mainmenu .realizacje-navi ul a {
        color: #fff;
        transition-duration: .5s;
        text-transform: uppercase;
        font-size: .9em;
        font-weight: 500; }
        #mainmenu .oferta-navi ul a:hover, #mainmenu .realizacje-navi ul a:hover {
          font-size: 1.1em; }
    #mainmenu .oferta-navi.active, #mainmenu .realizacje-navi.active {
      left: 20px;
      z-index: 5;
      opacity: 1; }
  #mainmenu .realizacje-navi {
    left: inherit !important;
    z-index: 5;
    right: 20px; }

footer {
  position: relative;
  width: 100%;
  padding-bottom: 40px;
  min-height: 400px;
  background-image: url(/wp-content/uploads/2019/06/536.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  font-size: 1.1em;
  color: #fff;
  padding-top: 40px;
  transition-duration: .5s; }
  footer p {
    font-size: .9em;
    color: #dfdfdf; }
  footer .copy {
    text-align: center;
    text-transform: uppercase;
    color: #ddd;
    font-weight: 300;
    font-size: 11px;
    word-spacing: 3px;
    margin-top: 40px; }
  footer .content-footer {
    z-index: 1;
    position: relative;
    padding-bottom: 60px; }
  footer img.logo-footer {
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 180px; }
  footer .content-date {
    margin-top: 15px; }
  footer h3 {
    margin-bottom: 20px; }
  footer h2 {
    margin-bottom: 15px;
    border-bottom: solid 1px #fff;
    margin-top: 30px; }
  footer .gradinet-footer {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 50px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8)); }
  footer .credits {
    position: absolute;
    bottom: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: #ddd;
    font-weight: 300;
    font-family: "Orbitron", sans-serif, "Play", sans-serif;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.22, 0.68, 0, 1.71); }
    footer .credits span {
      margin-left: 6px;
      color: #fecd01;
      font-family: "Orbitron", sans-serif, "Play", sans-serif;
      text-transform: initial; }
    footer .credits:hover {
      letter-spacing: 1px; }
  footer a {
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 10px;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.22, 0.68, 0, 1.71); }
    footer a:hover {
      color: #fecd01; }
  footer strong {
    margin-bottom: 15px;
    display: block; }
  footer svg {
    width: 20px;
    height: auto;
    fill: #fecd01;
    margin-right: 10px; }
  footer ul.sm {
    display: flex; }
    footer ul.sm li {
      margin-right: 20px;
      cursor: pointer; }
      footer ul.sm li a {
        border-bottom: none; }
        footer ul.sm li a img {
          transition-duration: .5s;
          width: 30px;
          height: auto; }
      footer ul.sm li:hover img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2); }
  footer ul li a {
    padding: 10px 0px;
    margin: 0px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.25);
    margin-bottom: 10px;
    display: block;
    transition-duration: .2s; }
  footer ul li:hover a {
    color: #fecd01;
    border-bottom-color: #fecd01;
    transition-duration: .2s; }

.only-mobile {
  display: none;
  position: fixed;
  width: 100%;
  height: 50px;
  background: #fecd01;
  bottom: 0; }
  .only-mobile .row {
    width: 100%; }
  .only-mobile .item-call {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .only-mobile .col-4:nth-child(2) {
    border-right: solid 1px #fff;
    border-left: solid 1px #fff; }
  .only-mobile svg {
    max-width: 30px;
    height: auto;
    margin: auto;
    display: block;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5)); }

.header-present.oferta {
  height: 70vh;
  background-size: cover;
  align-items: center;
  color: #fff;
  margin-bottom: 0px; }
  .header-present.oferta .rank-math-breadcrumb {
    background: rgba(0, 0, 0, 0.5); }
    .header-present.oferta .rank-math-breadcrumb span {
      color: #fff;
      font-weight: 600; }

.we-love {
  text-align: center;
  background-color: #fecd01;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .we-love h2 {
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); }

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fecd01;
  transition-duration: 1s;
  opacity: 0;
  z-index: -2;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .popup.send-success {
    background-image: linear-gradient(to bottom right, #28A745, #20b842) !important;
    transition-duration: 1s; }
    .popup.send-success .thanks {
      z-index: 2;
      opacity: 1;
      transition-duration: .5s;
      display: flex; }
    .popup.send-success .info-popup, .popup.send-success h2.title-popup {
      display: none; }
    .popup.send-success #wpcf7-f5-o1 {
      z-index: -1;
      opacity: 0;
      transition-duration: .5s; }
  .popup .thanks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    transition-duration: .5s;
    display: none; }
    .popup .thanks > * {
      color: #fff !important; }
    .popup .thanks a {
      font-weight: 700; }
  .popup .inner-popup {
    height: 100vh;
    color: #fff;
    opacity: 0;
    -webkit-animation: animatewait forwards;
    animation: animatewait forwards;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    width: 80%;
    text-align: center;
    overflow: scroll;
    padding-bottom: 40px; }
  .popup.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #fecd01;
    top: 0;
    left: 0;
    border-radius: 0%;
    z-index: 600;
    opacity: 1; }
    .popup.active .inner-popup {
      z-index: 2;
      -webkit-animation: animatewait forwards;
      animation: animatewait forwards;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-delay: 2.75s;
      animation-delay: 2.75s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      opacity: 1; }
      .popup.active .inner-popup h2 {
        font-weight: 700;
        font-size: 2.5em;
        color: #fff; }
      .popup.active .inner-popup p.info-popup {
        width: 65%;
        margin: auto;
        margin-bottom: 40px;
        text-align: center;
        color: #fff; }
      .popup.active .inner-popup label {
        width: 100%; }
        .popup.active .inner-popup label * {
          width: 100%;
          text-align: center;
          padding: 5px;
          margin-bottom: 10px; }
        .popup.active .inner-popup label br {
          display: none; }
        .popup.active .inner-popup label span {
          margin-top: 5px; }
      .popup.active .inner-popup h3 {
        text-align: center;
        text-transform: uppercase;
        color: #333;
        font-size: 20px;
        font-weight: 700;
        margin-top: 40px; }
      .popup.active .inner-popup p {
        margin: 0px; }
    .popup.active input.wpcf7-form-control.wpcf7-submit {
      background: transparent;
      border: solid 2px #fff;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
      font-size: 1.25em;
      padding: 10px 40px;
      margin: 0px auto;
      display: block;
      transition-duration: .5s; }
      .popup.active input.wpcf7-form-control.wpcf7-submit:hover {
        background-color: #fff;
        color: #333; }
  .popup .remove-popup {
    position: absolute;
    font-size: 3em;
    margin-left: 20px;
    margin-top: 20px;
    z-index: 20; }
    .popup .remove-popup svg path {
      fill: #fff; }
  .popup #js-hamburger {
    position: absolute;
    right: 40px;
    top: 40px; }
  .popup .cnavi-button {
    cursor: pointer; }
  .popup .line {
    width: 50px;
    height: 5px;
    background-color: #fff;
    display: block;
    margin: 8px auto;
    box-shadow: 0px 0px 5px #afafaf;
    transition: all 0.3s ease-in-out; }
  .popup #js-hamburger {
    transition: all 0.3s ease-in-out; }
  .popup #js-hamburger.is-active {
    -webkit-animation: smallbig 0.6s forwards;
    animation: smallbig 0.6s forwards; }
@-webkit-keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
@keyframes smallbig {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0); } }
  .popup #js-hamburger.is-active .line:nth-child(1),
  .popup #js-hamburger.is-active .line:nth-child(2),
  .popup #js-hamburger.is-active .line:nth-child(3) {
    transition-delay: 0.2s; }
  .popup #js-hamburger.is-active .line:nth-child(2) {
    opacity: 0; }
  .popup #js-hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg); }
  .popup #js-hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg); }

#_hj-f5b2a1eb-9b07_feedback {
  display: none !important; }

.page-template-kontakt .we-love, .page-template-realizacje .we-love, .page-template-oferta .we-love {
  display: none !important; }

/*# sourceMappingURL=style.css.map */
