/*
Theme Name: Kordit - strona www
Theme URI: https://kordit.pl/
Author: Kordit Team
Author URI: https://kordit.pl/
Description: Motyw stworzony na potrzeby firmy Kordit. Wszelkie prawa zastrzeżone!
Text Domain: Kordit 0 motyw
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.page-template-realizacje main#realizacje, .page-template-oferta main#oferta, .page-template-realizacje main#realizacje {
	padding-top: 50px;
}
.page-template-kontakt #navi-button .c-navi-button .line {
	background-color: #fff !important;
}
.page-id-801 #navi-button .c-navi-button .line {
	background-color: #fff !important;
}
.page-template-realizacje #navi-button .c-navi-button .line {
	background-color: #fff !important;
}
.page-template-oferta #navi-button .c-navi-button .line {
	background-color: #fff !important;
}
.page-id-801 .we-love {
	display: none;
}
.page-id-801 {
	text-align: center;
}
.page-id-801 main {
	margin-top: 40px;
}
.page-id-801 h3 {
	font-size: 18px;
	font-family: Quicksand, sans-serif;
	font-weight: 700;
}
.page-id-801 ul {
	margin-bottom: 40px;
}
.page-id-801 ul li {
	margin-bottom: 10px;
}
.page-id-801 button {
	background: #fecd01;
	border: none;
	padding: 10px 20px;
	transition-duration: 1s;
	font-weight: 600;
	margin-bottom: 20px;
}
.page-id-801 button:hover {
	background-color: #fecd01;
}
.page-id-801 a {
	display: flex;
	justify-content: center; 
}